#logo {
  position: absolute;
  top: 4%;
  left: 4%;
  width: 8%;
  height: 8%;
}

#bgImage {
  position: absolute;
  /* opacity: 0.4; */
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  filter: brightness(70%);
}
